.navbar {
    background-color: $beige !important;
    height: 70px;

    .logo {
        margin-right: 20px;
    
        img {
            height: 10px;
        } 
        }
        .logo3{
            margin-right: 20px;
            margin-left: 1300px;
        }
    
    @media (max-width: 789px) {
        span {
            display: none;
        }
        a {
    
            margin-left: 8px;
            text-align: center;
        }
        
    }
   
}

.rs-navbar-default .rs-navbar-item:hover {
    height: 70px;
    background-color: mix($white, $blue, 54%) !important;
}

a {
    
    font-size: 1.2rem;
    
}