
.navbar {
   padding: 10px;
    background-color: $beige !important;
    height: 70px;

    .nav_link{
        margin-left: 20px;
    }
    .logo {
        margin-right: 10px;
        margin-left: 60px;

        @media (max-width: 789px) {
            margin-left: 5px;
        }
        }
        .logo3{
            margin-right: 10px;
            margin-left: 1200px;
          
            @media (max-width: 789px) {
                margin-left: 90px;
            }
        }
       
    
    @media (max-width: 789px) {
        span {
            display: none;
        }
        a {
    
            margin-left: 8px;
            text-align: center;
        }
        
    }
   
}

.rs-navbar-default .rs-navbar-item:hover {
  
    height: 50px;
    background-color: mix($white, $beige, 54%) !important;
}

